@charset "UTF-8";
body 
{ 
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 125%;
	background-color:lightblue;
}
.correct 
	{
		background-color: lightgreen;

	}
.incorrect 
	{
		background-color: lightpink;
	}	

fieldset
	{
		border: 5px groove lightblue;
	}
legend
	{
		background-color: green;
	}
input,select,button 
	{
		font-family: Verdana, sans-serif; font-size: 125%;
		background-color: lightblue;
	}
